[Unit]
Description= This PAS service is to initialize platform.
After=opx-cps.service
Wants=opx-cps.service
DefaultDependencies=no

[Service]
EnvironmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/opx_pas_service
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
