Source: opx-pas
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9), dh-autoreconf, libfuse-dev,
 libopx-common-dev, libopx-logging-dev, libopx-base-model-dev,
 libopx-sdi-sys-dev, libopx-sdi-api-dev, libopx-cps-dev,
 dh-systemd
Standards-Version: 3.9.3

Package: opx-pas
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libopx-pas1 (=${binary:Version}),fuse
Description: This package contains the Platform Adaptation Service.

Package: libopx-pas1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains the Platform Adaptation Service.

